{% extends "base.html" %}
{% block title %}
    Arkiv
{% endblock %}
{% block body %}
    {% if result %}
        {% include "transaktion_list/info_about_transaktions_period_and_company.html" %}
        {% include "transaktion_list/vat_information.html" %}
        <form method="post" enctype="multipart/form-data">
            <input value="{{ company_name }}" type="text" name="company_name" style="display: none" readonly>
            <input value="{{ period }}" type="text" name="period" style="display: none" readonly>
            <table class="table">
                <thead>
                <tr>
                    <th class="text-end">id</th>
                    <th class="text-center">date</th>
                    <th class="text-end">reference</th>
                    <th class="text-end">Belopp ink.moms</th>
                    <th class="text-end">Moms typ</th>
                    <th class="text-end">Moms belopp</th>
                    <th class="text-end">Belopp ex.moms</th>
                    <th class="text-center">Konto</th>
                    <th class="text-center">Underlag</th>
                </tr>
                </thead>
                <tbody>
                {% include "transaktion_list/transaktions_list_table_view.html" %}
                </tbody>
            </table>
        </form>
    {% else %}
        <div class="shadow-lg p-3 mb-1 bg-secondary text-white text-center rounded">
            <h3>Bank överföringar hos
                <div class=" d-inline-block text-black">"__________"</div>
                för period:
                <div class="text-black d-inline-block">åååå-mm-dd / åååå-mm-dd</div>
                <span class="badge badge-primary">
            </span>
            </h3>
        </div>
        <div class="alert alert-danger" role="alert">
            Här finns inget att visa gå till Arkiv sida och välj rätt period
        </div>
    {% endif %}

{% endblock %}