{%- macro get_vat_amount(amount, vat) -%}
    {%- if amount < 0 -%}
        {%- set amount = -1 * amount -%}
    {%- endif -%}
    {%- set vat_amount = amount - (amount / (1 + vat/100)) -%}
    {{ vat_amount }}
{%- endmacro -%}
<!-- ex_moms.value = (ink_moms_value / (1 + moms_rate_value)).toFixed(2); -->
{%- macro get_amount_without_vat(amount, vat) -%}
    {% set vat = vat %}
    {%- set vat = vat / 100 -%}
    {%- if vat == 0.0 -%}
        {%- if amount < 0 -%}
            {%- set amount = -1 * amount -%}
        {%- endif -%}
        {{ amount }}
    {%- else -%}
        {%- if amount < 0 -%}
            {%- set amount = -1 * amount -%}
        {%- endif -%}
        {%- set amount_without_vat = amount / (1 + vat) -%}
        {{ amount_without_vat }}
    {%- endif -%}
{%- endmacro -%}
<style>
    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .custom-btn {
        min-width: 45px;
        max-width: 45px;
    }
</style>
{% for tr in result %}
    <tr>
        <td style="width: 90px">
            <input type="text"
                   style="display: none"
                   class="form-control"
                   placeholder="id"
                   aria-label="id"
                   name="id"
                   value="{{ tr.id }}" readonly>

            <input type="text"
                   class="form-control text-end"
                   placeholder="id_from_file"
                   aria-label="id_from_file"
                   name="id_from_file"
                   value="{{ tr.id_from_file }}" readonly>
        </td>
        <td style="width: 135px">
            <input type="text"
                   class="form-control text-center"
                   aria-label="date"
                   name="date"
                   value="{{ tr.date }}" readonly>
        </td>
        <td style="width: 300px">
            <input type="text"
                   class="form-control text-end"
                   aria-label="reference"
                   name="reference"
                   value="{{ tr.reference.reference_str }}"></td>
        <td style="width: 135px">
            <input type="text"
                   style="{% if format_price(tr.amount).startswith('-') %} background-color:#ffcdd2{% else %} background-color:#c8e6c9 {% endif %}"
                   class="form-control text-end"
                   aria-label="amount"
                   name="amount"
                   value="{{ format_price(tr.amount) }}" readonly>
        </td>
        <td style="width: 100px">
            <select class="form-select" aria-label="Default select example" name="vat">
                <option value="0"{% if tr.vat == 0.0 %} selected {% endif %}>0%</option>
                <option value="6"{% if tr.vat == 6.0 %} selected {% endif %}>6%</option>
                <option value="12"{% if tr.vat == 12.0 %} selected {% endif %}>12%</option>
                <option value="25"{% if tr.vat == 25.0 %} selected {% endif %}>25%</option>
            </select>
        </td>
        <td style="width: 135px">
            <input type="text"
                   style="{% if format_price(tr.amount).startswith('-') %} background-color:#ffcdd2{% else %} background-color:#c8e6c9 {% endif %}"
                   class="form-control text-end"
                   name="amount_vat"
                   value="{{ format_price(get_vat_amount(tr.amount, tr.vat)) }}" readonly disabled></td>
        <td style="width: 135px">
            <input type="text"
                   style="{% if format_price(tr.amount).startswith('-') %} background-color:#ffcdd2{% else %} background-color:#c8e6c9 {% endif %}"
                   class="form-control text-end"
                   name="amount_ex_vat"
                   value="{{ format_price(get_amount_without_vat(amount = tr.amount , vat =tr.vat)) }}" readonly
                   disabled></td>
        <td style="width: 90px">
            <input type="text"
                   class="form-control"
                   name="account"
                   value="{{ tr.reference.accounting_account.account }}">
        </td>
        <td class="text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                {% if tr.file == None or tr.file == '' %}
                    <label class="custom-file-upload btn custom-btn" style="background-color: #7f3737">
                        <input name="tr_file" type="file"/><i class="fa-solid fa-cloud-arrow-up"></i>
                    </label>
                {% else %}
                    <div style="display: none">
                        <input name="tr_file" type="file"/>
                    </div>
                    <button type="button"
                            class="btn custom-btn"
                            style="background-color: #63b817"
                            data-toggle="collapse"
                            data-target="#collapse_show_file_for_tr_{{ tr.id }}"
                            aria-controls="collapse_show_file_for_tr_{{ tr.id }}">
                        <i class="fa-solid fa-file"></i>
                    </button>

                {% endif %}
                <button type="submit" class="btn btn-primary custom-btn"><i class="fa-solid fa-floppy-disk"></i>
                </button>
                <button type="button"
                        class="btn btn-info custom-btn"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse_tr_row_{{ tr.id }}"
                        aria-expanded="false"
                        aria-controls="collapse_tr_row_{{ tr.id }}">
                    <i class="fa-solid fa-arrow-down-wide-short"></i>
                </button>
            </div>
        </td>
    </tr>
    {% include "transaktion_list/show_transaction_file.html" %}
    {% include "transaktion_list/transaction_colaps_row.html" %}
{% endfor %}