{%- macro get_vat_amount(amount, vat) -%}
    {%- if amount < 0 -%}
        {%- set amount = -1 * amount -%}
    {%- endif -%}
    {%- set vat_amount = amount - (amount / (1 + vat/100)) -%}
    {{ vat_amount }}
{%- endmacro -%}
<!-- ex_moms.value = (ink_moms_value / (1 + moms_rate_value)).toFixed(2); -->
{%- macro get_amount_without_vat(amount, vat) -%}
    {% set vat = vat %}
    {%- set vat = vat / 100 -%}
    {%- if vat == 0.0 -%}
        {%- if amount < 0 -%}
            {%- set amount = -1 * amount -%}
        {%- endif -%}
        {{ amount }}
    {%- else -%}
        {%- if amount < 0 -%}
            {%- set amount = -1 * amount -%}
        {%- endif -%}
        {%- set amount_without_vat = amount / (1 + vat) -%}
        {{ amount_without_vat }}
    {%- endif -%}
{%- endmacro -%}
{%- macro total_vat_for_period(result) -%}
    <div class="shadow-lg p-3 mb-1 text-white text-center rounded" style="background-color: #17a2b8">
        {%- set in_vat = namespace(count=0) -%}
        {%- set out_vat = namespace(count=0) -%}
        {%- for tr in result -%}
            {%- if tr.amount > 0 -%}
                {%- set in_vat.count = in_vat.count + get_vat_amount(amount = tr.amount , vat = tr.vat)|float -%}
            {%- elif tr.amount < 0 -%}
                {%- set out_vat.count = out_vat.count + get_vat_amount(amount = tr.amount , vat = tr.vat)|float -%}
            {% endif %}
        {%- endfor -%}
        <h6>Ingående moms för dena perioden är:
            <div class=" d-inline-block text-black"><h5>{{ format_price(in_vat.count) }}</h5></div>
            <br>
            Utgående moms för dena perioden är:
            <div class="text-black d-inline-block"><h5>{{ format_price(out_vat.count) }}</h5></div>
            <span class="badge badge-primary">
            </span>
        </h6>
    </div>
{%- endmacro -%}
{% block vat_info %}
    {{ total_vat_for_period(result) }}
{% endblock %}