<div class="mt-3 text-end d-print-none">
    <div class="btn-group">
        <div class="btn-toolbar mb-3" role="" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-primary" onclick="window.print();">Skriva ut</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#show_chart">Visa graf</button>
                <button type="submit" class="btn btn-outline-primary">Uppdatera</button>
                <button type="submit" name = "download_selected" class="btn btn-outline-primary">Ladda ner markerade</button>
                <button type="button" class="btn btn-outline-primary">Ladda ner zip arkiv</button>
                <button type="submit" name="create_se_file" class="btn btn-outline-primary">Ladda ner SE fil</button>
            </div>
        </div>
    </div>
</div>