{%- macro calculate_vat_account(amount,vat) -%}
    {{ amount|float-(amount|float/(1+vat|float)) }}
{%- endmacro -%}



{%- macro get_income_amount() -%}
    {%- set income = namespace(count=0) -%}
    {%- for verification in result.verifications -%}
        {%- if verification.transactions[0].amount > 0 -%}
            {%- set income.count = income.count + verification.transactions[0].amount -%}
        {%- endif -%}
    {%- endfor -%}
    {{ income.count }}
{%- endmacro -%}

{%- macro get_expense_amount() -%}
    {%- set expense = namespace(count=0) -%}
    {%- for verification in result.verifications -%}
        {%- if verification.transactions[0].amount < 0 -%}
            {%- set expense.count = expense.count + verification.transactions[0].amount -%}
        {%- endif -%}
    {%- endfor -%}
    {{ expense.count }}
{%- endmacro -%}

{%- macro get_income_vat_amount() -%}
    {%- set income_vat = namespace(count=0) -%}
    {%- for verification in result.verifications -%}
        {%- if verification.transactions[0].amount > 0 -%}
            {%- if verification.transactions[1].account != None -%}
                {%- set income_vat.count = income_vat.count + calculate_vat_account(amount=verification.transactions[0].amount,vat=verification
                .transactions[1].account.vat)|float -%}
            {%- else -%}
                {%- set income_vat.count = income_vat.count + calculate_vat_account(amount=verification.transactions[0].amount,vat=verification
                .transactions[1].vat)|float -%}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
    {{ income_vat.count|float * -1 }}
{%- endmacro -%}

{%- macro get_expense_vat_amount() -%}
    {%- set expense_vat = namespace(count=0) -%}
    {%- for verification in result.verifications -%}
        {%- if verification.transactions[0].amount < 0 -%}
            {%- if verification.transactions[1].account != None -%}
                {%- set expense_vat.count = expense_vat.count + calculate_vat_account(amount=verification.transactions[0].amount,vat=verification
                .transactions[1]
                        .account.vat)|float -%}
            {%- else -%}
                {%- set expense_vat.count = expense_vat.count +  calculate_vat_account(amount=verification.transactions[0].amount,vat=verification
                .transactions[1]
                .vat)|float -%}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
    {{ expense_vat.count|float * -1 }}
{%- endmacro -%}

<div class="card text-center">
    <div class="card-header text-end">
        {{ result.period }} | <strong>{{ result.name }}</strong> | {{ result.bic }}
    </div>
    <div class="card-body text-end">
        <table class="table table-borderless">
            <tbody>
            <tr>
                <th class="text-end">Inkomster:</th>
                <td class="text-start">{{ amount_format(get_income_amount()) }} Kr</td>
                <th class="text-end">Utgifter:</th>
                <td class="text-start">{{ amount_format(get_expense_amount()) }} Kr</td>
            </tr>
            <tr>
                <th class="text-end">Moms att betala:</th>
                <td class="text-start">{{ amount_format(get_income_vat_amount()) }} Kr</td>
                <th class="text-end">Moms att få:</th>
                <td class="text-start">{{ amount_format(get_expense_vat_amount()) }} Kr</td>
            </tr>
            <tr>
                <th class="text-end">Inkomster ex.moms:</th>
                <td class="text-start">{{ amount_format(get_income_amount()|float - get_income_vat_amount()|float) }} Kr</td>
                <th class="text-end">Utgifter ex.moms:</th>
                <td class="text-start">{{ amount_format(get_expense_amount()|float + get_expense_vat_amount()|float) }} Kr</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted text-end d-print-none">
        <form method="post">
            <input type="hidden" name="period" value="{{ result.period }}">
            <input type="hidden" name="name" value="{{ result.name }}">
            <input type="hidden" name="bic" value="{{ result.bic }}">
            <div class="form">
                <input name="search_box"
                       value=""
                       type="text"
                       class="form-control form-input text-end"
                       placeholder="Sök bland verifikation, ange konto nummer, belopp eller referens...">
            </div>
        </form>
    </div>
</div>