{% extends "base.html" %}
{% block title %}
    Arkiv
{% endblock %}
{% block body %}
    <div class="mb-2"><h2>Arkiv<span class="badge badge-primary"></span></h2></div>
    {% if result is not none %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>Organisations nummer</th>
                <th>Företagets namn</th>
                <th>Period</th>
                <th>Action</th>
            </tr>
            {% for company in result %}

                <tr>
                    <td>{{ company.id }}</td>
                    <td style="min-width: 200px;max-width: 200px">{{ company.bic }}</td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.period }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <form method="get" action="/verifications">
                                <input style="display: none" type="text" name="company_name" value="{{ company.name }}">
                                <input style="display: none" type="text" name="company_bic" value="{{ company.bic }}">
                                <input style="display: none" type="text" name="period" value="{{ company.period }}">
                                <button name="verifications_list" value="true" type="submit" class="btn btn-primary">
                                    Hantera
                                </button>
                            </form>
                            <form method="get" class="btn-group">
                                <input style="display: none" type="text" name="name" value="{{ company.name }}">
                                <input style="display: none" type="text" name="bic" value="{{ company.bic }}">
                                <input style="display: none" type="text" name="period" value="{{ company.period }}">
                                <button name="remove_company_period" value="true" type="submit" class="btn btn-danger">
                                    Radera
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>


            {% endfor %}
            </thead>
        </table>
    {% endif %}
{% endblock %}