{% block data_view_fom_csv %}
    {% if result %}
            Hi {{ current_user.id }}!
        <form method="post">
            <div class="row mb-3">
                <div class="col align-self-start">
                    <div class="input-group mb-1 text-end" style="max-width: 360px; min-width: 360px">
                        <span class="input-group-text">Organisations nummer:</span>
                        <input name="bic" value="" type="text" class="form-control text-end" required/>
                    </div>
                    <div class="input-group mb-1" style="max-width: 400px; min-width: 400px">
                        <span class="input-group-text">Företagets Namn:</span>
                        <input name="company_name" value="" type="text" class="form-control text-end" required/>
                    </div>

                </div>
                <div class="col justify-content-end">
                    <div class="input-group mb-1 justify-content-end">
                        <span class="input-group-text">Belopp som fanns på konto den {{ result[0]['date'] }}:</span>
                        <div class="input-group-text">{{ format_price(start_amount) }}</div>
                    </div>
                    <div class="input-group mb-1 justify-content-end">
                        <span class="input-group-text">Belopp är kvar på konto den {{ (result|last)['date'] }}:</span>
                        <div class="input-group-text text-end">{{ format_price(end_amount) }}</div>
                    </div>
                </div>

                <div class="input-group mb-1 justify-content-end">
                    <button type="submit" name="transactions_list_from_file" class="btn btn-primary">Spara i arkiv
                    </button>
                </div>

            </div>

            {% for tr in result %}
                <div class="input-group mb-1">

                    <span class="input-group-text">ID:</span>
                    <input name="id" value="{{ tr['id'] }}" type="text" class="form-control text-end"
                           style="max-width: 66px; min-width: 66px"/>
                    <span class="input-group-text">Datum:</span>
                    <input name="date" value="{{ tr['date'] }}" type="text" class="form-control text-center"
                           style="max-width: 125px; min-width: 125px"/>
                    <span class="input-group-text">Reference:</span>
                    <input name="reference" value="{{ tr['reference'] }}" type="text" class="form-control"/>
                    <span class="input-group-text">Belopp:</span>
                    <input name="amount" value="{{ format_price(tr['amount']) }}" type="text"
                           class="form-control text-end"
                           style="max-width: 115px;
                                   min-width: 115px;
                                   {% if tr['amount'].startswith('-') %} background:#ffcdd2{% else %} background:#c8e6c9 {% endif %}"/>
                </div>
            {% endfor %}
            <div class="input-group mb-1 justify-content-end">
                <button type="submit" name="transactions_list_from_file" class="btn btn-primary">Spara i arkiv</button>
            </div>
        </form>
    {% endif %}
{% endblock %}